.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}

.box-shadow(@string) {
	-webkit-box-shadow: @string;
	   -moz-box-shadow: @string;
	        box-shadow: @string;
}

.scale(@factor) {
	-webkit-transform: scale(@factor);
	   -moz-transform: scale(@factor);
	    -ms-transform: scale(@factor);
	     -o-transform: scale(@factor);
            transform: scale(@factor);
}

.transition(@transition) {
	-webkit-transition: @transition;  
	   -moz-transition: @transition;
	    -ms-transition: @transition; 
	     -o-transition: @transition;  
            transition: @transition; 
}

.transform(@transform) {
	-webkit-transform: @transform;
	   -moz-transform: @transform;
	    -ms-transform: @transform;
	     -o-transform: @transform;
            transform: @transform;
}